<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>员工信息</title>
</head>
<body>
    
    <table style="border:1px solid gray">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>性别</td>
            <td>职务</td>
            <td>家乡</td>
            <td>爱好</td>
        </tr>
        {% if userList  %}
        
        {% endif %}
        {% for user in userList %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.sex}}</td>
                <td>{{user.job}}</td>
                <td>{{user.where}}</td>
                <td>{{user.hobby}}</td>
            </tr>
        {% endfor %}

        {% if user.name %}
            <tr>
                <td>name</td>
                <td>{{user.name}}</td>
            </tr>
        {% endif %}
    </table>
</body>
</html>